joblib==1.3.2
Levenshtein
matplotlib
matplotlib-inline
nltk==3.8.1
numpy
pandas
Pillow==10.0.0
scikit-learn
scipy
sentencepiece
tokenizers
torch
torchaudio
torchvision
tqdm==4.66.1
transformers==4.32.1
wandb
seaborn
captum
pyts